<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <h3 style="color:white; margin-right: 5%;">REGIS</h3>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/demo' ? 'active' : '' %>" href="/">Demo</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/advanced">Advanced</a>
            </li>
        </ul>
    </nav>
    <% if (appStatus) {%>
    <div style="width: 100%; display:flex; flex-direction:row-reverse; align-items: center; color:yellow;">
        <form method="GET" action="/endDemo" style="margin-left: 1%;" onsubmit="return confirm('Do you really want to stop the demo in progress?');">
             <button type='submit' class="btn"><i class="far fa-times-circle"></i> Stop Demo</button>
        </form>
        
        <p><i class="fas fa-exclamation-triangle" style="color: red;"></i> Demo in progress...</p>
    </div>
    <% } %>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/demo' ? 'active' : '' %>" href="/">Demo</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/advanced">Advanced</a>
        </li>
    </ul>
</nav>