/* .camera-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
} */

.camera-item {
    background-color: white;
    overflow: hidden;
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    border-radius: 30px;
    background-color: rgb(255 255 255 / 75%);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 1px rgb(255 255 255 / 50%), 2px 2px 5px rgb(0 0 0 / 50%);

}

.camera__title {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.camera__description {
    text-align: center;
}

#selection_list {
    list-style-type: none;
    text-align: left;
    padding: 0%
}

#selection_list li {
    margin: 0 0 3px 0;
}