@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.matrix tr, td {
  padding: 0.6rem;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
@media (max-width: 800px) {
  .matrix tr, td {
    padding: 0.6rem;
    border: 1px solid black;
    font-size: x-small;
  }
}

table {
  padding: 2%;
}

table:hover {
  cursor: pointer;
}

td.cell:hover {
  background-color: #ffeb3b;
  color: #000000;
}

main {
  padding: 1rem;
  margin: auto;
}

hr {
  width: 80%;
}

/* form {
  display: inline;
} */

.centered {
  text-align: center;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #0769af;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  display: none;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #06ff5f;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: #0769af;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 0.5rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #0769af;
  color: #0769af;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  border-radius: 30px
}

.btn:hover,
.btn:active {
  background-color: #0769af;
  color: white;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}


/**/

.image-hover-text-container {
  position: relative;
  display: inline-block;

  width: auto;
  height: auto;
  transition: all 0.2s linear;
}

.image-hover-image {
  display: block;
}

.image-hover-image img {
  width: 100%;
}



.image-hover-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  cursor: default;
  transition: opacity 0.2s linear;
}

.image-hover-text:hover {
  opacity: 1;
}


.image-hover-text-bubble {
  position: relative;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 100%;
  height: 180px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 20% 8px 5px 8px;
  overflow: hidden;
  font-size: 17px;
  text-align: center;
  word-wrap: break-word;
}

.image-hover-text .image-hover-text-title {
  font-size: 25px;
  display: block;
  color: white
}